@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'inter';
        src: url(./fonts/Inter.ttf) format('ttf')
    }
    p, small {
        @apply font-inter-medium;
        @apply text-gray-800;
    }
    h1 {
        @apply font-inter-black;
        @apply text-gray-800;
    }
    h2 {
        @apply font-inter-extrabold;
        @apply text-gray-800;
    }
    h3 {
        @apply font-inter-semibold;
        @apply text-gray-800;
    }
}

@layer utilities {
    .page {
        height: 100%;
        max-width: 100%;
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-enter-active{
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }
    .fade-exit {
        opacity: 1;
    }
    .fade-exit-active {
        opacity: 0;
        transition: opacity 1000ms ease-out;
    }
    .sections {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: nowrap;
    }
    .section {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .section-inner {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 0;
        width: 100%;
    }
    .character {
        transform: scale(1, 1)
    }
    .font-inter-medium {
        font-family: 'inter';
        font-weight: 400;
    }
    .font-inter-semibold {
        font-family: 'inter';
        font-weight: 700;
    }
    .font-inter-extrabold {
        font-family: 'inter';
        font-weight: 800;
    }
    .font-inter-black {
        font-family: 'inter';
        font-weight: 900;
    }
    /*code block*/
    pre code {
        display: block;
        background: #333333;
        padding: 4px;
        color: white;
    }
    @media only screen and (max-width: 720px) {
        .character {
            transform: scale(0.7, 0.7)
        }
    }
}